<ion-toolbar class="degradado">
  <ion-title >
  Encuesta 
  </ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-label>Seleccione una categoría</ion-label>
    <ion-item>
      <ion-select placeholder="pregunta" (ionChange)="selectPregunta($event)" interface="alert">
        <ion-select-option *ngFor="let pregunta of arrayPregunta" [value]="pregunta.id">
          {{ pregunta.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-label>Seleccione una pregunta</ion-label>
    <ion-item>
      <ion-select placeholder="balon" [(ngModel)]="selectIdBalon" (ionChange)="selectBalon($event)" interface="alert">
        <ion-select-option *ngFor="let balon of arrayBalon" [value]="balon.id">
          {{ balon.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-label>Las opciones a escoger son:</ion-label>
    <ion-item>
      <ion-select placeholder="mesa" [(ngModel)]="selectIdMesa" (ionChange)="selectMesa($event)" interface="alert">
        <ion-select-option *ngFor="let mesa of arrayMesa" [value]="mesa.id">
          {{ mesa.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>

