ion-select-option {
    color: black;
    padding: 8px 16px;
    font-size: 16px;
  }
  
  ion-option {
    padding: 8px 16px;
    font-size: 16px;
  }
  .degraa {
    background: linear-gradient(to right, #21f077b4, #34a6dbda);
    font-size: 18px;
    text-align: center;
  }
  .degradado { 
    --background: linear-gradient(to right, #3ce7dfb4,#4bec22da, #34a6dbda);
  }
  ion-content {
    --background: linear-gradient(to bottom, #91ff66ef, #5effd7f1);
  }

 