<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Privado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-label>Selecciona una pregunta</ion-label>
    <ion-item>
      <ion-select placeholder="pregunta" [(ngModel)]="preguntaSeleccionadaId" (ionChange)="onPreguntaChange()">
        <ion-select-option *ngFor="let pregunta of arrayPregunta" [value]="pregunta.id">
          {{ pregunta.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="preguntaSeleccionadaId">
    <ion-label>Opciones de balones:</ion-label>
    <ion-list>
      <ion-item *ngFor="let balon of pregunta.arrayBalones">
        {{ balon.balon }}
        <ng-container *ngIf="balon.mesa && balon.mesa.length > 0">
          <ion-label></ion-label>
          <ion-select [(ngModel)]="opcionMesa" multiple="true">
            <ion-select-option *ngFor="let opcion of balon.mesa">
             {{ opcion }}
            </ion-select-option>
          </ion-select>
        </ng-container>
      </ion-item>
    </ion-list>   
  </div>
</ion-content>

