<ion-header [translucent]="true">
  <ion-toolbar style="background: linear-gradient(to right, #2ecc71, #dba634, #2c2381);">
    <ion-title class="custom-title">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" *ngFor="let arf of arfData">
        <div class="logo-container">
          <img [src]="'assets/img-se/' + arf.image" alt="Logo" class="round-logo" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="presentAlert()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>