 
.logo-container {
    text-align: center;
  }
.round-logo {
    border-radius: 2%;
    width: 180px; 
    height: 180px; 
}
ion-toolbar{
  color:#df472c
}

ion-radio-group {
    background-color: #df472c;
    border: 2px solid #8d1966;
    border-radius: 8px;
    display: block; 
    padding: 10px; 
    }
    
    ion-radio {
    --background-checked: #007650; 
    --border-radius: 4px;
    --height: 30px;
    --width: 30px;
    display: block; 
    margin-bottom: 10px; 
    }
    
    ion-radio .radio-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-clip: content-box;
    border: 2px solid #007bff;
    }
    
    ion-label {
    float: left;
    }
    ion-content {
      --ion-background-color: rgba(47, 187, 4, 0.315) !important;
  }
  