<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" *ngFor="let arf of arfData">
        <div class="logo-container">
          <img [src]="'assets/img-se/' + arf.image" alt="Logo" class="round-logo" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button id="present-alert">Click Me</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-alert
  trigger="present-alert"
  header="Please enter your info"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert>
