ion-title, ion-card-title {
  font-family: 'Lobster', cursive;
  margin-bottom: 0px; 
}

.round-logo {
  border-radius: 2%;
  width: 400px; 
  height: 350px; 
  margin-top: 1px; 
}

.logo-container {
  text-align: center;
  margin-top: -50px; 
}


.ion-card-custom-color {
  background: linear-gradient(to right, #2ecc70b4, #34a6dbda);
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.custom-title {
  text-align: center;
  display: flex;
  font-size: 45px; 
  color: #0c0d0ee3; 
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
}

.degra {
  --background: linear-gradient(to right, #2ecc70b4, #f1e424da, #34a6dbda);
}

ion-button {
  --font-family: 'Lobster', cursive;
  --background: linear-gradient(to left, rgb(237, 193, 0) 0%, rgba(0,99,51,1) 100%);
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  --color: rgb(224, 212, 217);
  --border-radius: 15;
  --border-color: #82c701d2;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: deeppink;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-content {
  --background: linear-gradient(to bottom, #f5ff66ef, #ffb95eaf);
}
ion-card {
  margin-top: -60px; 
}

